Source: deb-pkg-tut
Section: unknown
Priority: optional
Maintainer: Tim K <tkuester@unknown>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/deb-pkg-tut.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/deb-pkg-tut.git

Package: deb-pkg-tut
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
